<!DOCTYPE html>
<html lang="ja">

<head>

<meta charset="UTF-8">
	<title>星をむすんで。</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>

<h1>星をむすんで。</h1>


<nav>
<a href="/index" class="button_top">星座</a>
</nav>

</body>