<!DOCTYPE html>
<html lang="ja">

<head>

<meta charset="UTF-8">
	<title>星をむすんで。</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>

<h1>星をむすんで。</h1>


<nav>
<a href="/spring" class="button_top">春の星座</a>
</nav>

<nav>
<a href="/summer" class="button_top">夏の星座</a>
</nav>

<nav>
<a href="/fall" class="button_top">秋の星座</a>
</nav>

<nav>
<a href="/winter" class="button_top">冬の星座</a>
</nav>

</body>

