<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title></title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>

<nav>
<a href="/" class="button_top">星をむすんで。</a>
</nav>


<a href="/<%= @season %>" class="home">←</a>

<div class="result">
<p><%= @result %></p>
</div>
</body>
</html>
