<!DOCTYPE html>
<html lang="ja">

<head>

<meta charset="UTF-8">
	<title>星をむすんで。</title>
    <link rel="stylesheet" href="../css/style.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />

</head>

<body>

<nav>
<a href="/" class="button_top">星をむすんで。</a>
</nav>

<h2>＊春の星座＊ <br>
名称クリックで詳細を表示・画像クリックで拡大</h2>

<a href="/index" class="home">←</a>

<div class= "stars">

<div class="star">
<h3><a href="/spring/おおぐま座">おおぐま座</a></h3>
<a href="#ooguma" rel="modal:open"><img src="./ooguma.JPEG"></a>
</div> 

<div class="star">
<h3><a href="/spring/こぐま座">こぐま座</a></h3>
<a href="#koguma" rel="modal:open"><img src="./koguma.JPEG"></a>
</div> 

<div class="star">
<h3><a href="/spring/髪の毛座">髪の毛座</a></h3>
<a href="#kaminoke" rel="modal:open"><img src="./kaminoke.JPEG"></a>
</div> 

<div class="star">
<h3><a href="/spring/しし座">しし座</a></h3>
<a href="#sisi" rel="modal:open"><img src="./sisi.JPG"></a>
</div> 

<div class="star">
<h3><a href="/spring/こじし座">こじし座</a></h3>
<a href="#kojisi" rel="modal:open"><img src="./kojisi.JPEG"></a>
</div> 

<div class="star">
<h3><a href="/spring/からす座">からす座</a></h3>
<a href="#karasu" rel="modal:open"><img src="./karasu.JPG"></a>
</div> 

<div class="star">
<h3><a href="/spring/海蛇座">海蛇座</a></h3>
<a href="#umihebi" rel="modal:open"><img src="./umihebi.JPEG"></a>
</div> 

<div class="star">
<h3><a href="/spring/ポンプ座">ポンプ座</a></h3>
<a href="#pomp" rel="modal:open"><img src="./pomp.JPEG"></a>
</div>

<div class="star">
<h3><a href="/spring/牛飼い座">牛飼い座</a></h3>
<a href="#usikai" rel="modal:open"><img src="./usikai.JPG"></a>
</div> 

<div class="star">
<h3><a href="/spring/おとめ座">おとめ座</a></h3>
<a href="#otome" rel="modal:open"><img src="./otome.JPG"></a>
</div> 

<div class="star">
<h3><a href="/spring/猟犬座">猟犬座</a></h3>
<a href="#ryouken" rel="modal:open"><img src="./ryouken.JPEG"></a>
</div> 

<div class="star">
<h3><a href="/spring/六分儀座">六分儀座</a></h3>
<a href="#rokubungi" rel="modal:open"><img src="./rokubungi.JPEG"></a>
</div> 

<div class="star">
<h3><a href="/spring/カップ座">カップ座</a></h3>
<a href="#cup" rel="modal:open"><img src="./cup.JPG"></a>
</div> 

<div class="star">
<h3><a href="/spring/かに座">かに座</a></h3>
<a href="#kani" rel="modal:open"><img src="./kani.JPG"></a>
</div> 

</div>







<div id="ooguma" class="modal">
  <img src="/ooguma.JPEG">
  <a href="#" rel="modal:close"></a>
</div>

<div id="koguma" class="modal">
  <img src="/koguma.JPEG">
  <a href="#" rel="modal:close"></a>
</div>

<div id="kaminoke" class="modal">
  <img src="/kaminoke.JPEG">
  <a href="#" rel="modal:close"></a>
</div>

<div id="sisi" class="modal">
  <img src="/sisi.JPG">
  <a href="#" rel="modal:close"></a>
</div>

<div id="kojisi" class="modal">
  <img src="/kojisi.JPEG">
  <a href="#" rel="modal:close"></a>
</div>

<div id="karasu" class="modal">
  <img src="/karasu.JPG">
  <a href="#" rel="modal:close"></a>
</div>


<div id="umihebi" class="modal">
  <img src="/umihebi.JPEG">
  <a href="#" rel="modal:close"></a>
</div>

<div id="pomp" class="modal">
  <img src="/pomp.JPEG">
  <a href="#" rel="modal:close"></a>
</div>

<div id="usikai" class="modal">
  <img src="/usikai.JPG">
  <a href="#" rel="modal:close"></a>
</div>

<div id="otome" class="modal">
  <img src="/otome.JPG">
  <a href="#" rel="modal:close"></a>
</div>

<div id="ryouken" class="modal">
  <img src="/ryouken.JPEG">
  <a href="#" rel="modal:close"></a>
</div>

<div id="rokubungi" class="modal">
  <img src="/rokubungi.JPEG">
  <a href="#" rel="modal:close"></a>
</div>

<div id="cup" class="modal">
  <img src="/cup.JPG">
  <a href="#" rel="modal:close"></a>
</div>

<div id="kani" class="modal">
  <img src="/kani.JPG">
  <a href="#" rel="modal:close"></a>
</div>

</body>