<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>星をむすんで。</title>

	<link rel="stylesheet" href="../css/style.css">

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />

</head>
<body>

<nav>
<a href="/" class="button_top">星をむすんで。</a>
</nav>

<h2>＊夏の星座＊ <br>
名称クリックで詳細を表示・画像クリックで拡大</h2>

<a href="/index" class="home">←</a>

<div class= "stars">

<div class="star">
<h3><a href="/summer/こと座">こと座</a></h3>
<a href="#kotoza" rel="modal:open"><img src="/kotoza.JPEG"></a>
</div>

<div class="star">
<h3><a href="/summer/わし座">わし座</a></h3>
<a href="#wasiza" rel="modal:open"><img src="/wasiza.JPEG"></a>
</div>

<div class="star">
<h3><a href="/summer/白鳥座">白鳥座</a></h3>
<a href="#hakuchouza" rel="modal:open"><img src="/hakuchouza.JPEG"></a>
</div>

<div class="star">
<h3><a href="/summer/さそり座">さそり座</a></h3>
<a href="#sasoriza" rel="modal:open"><img src="/sasoriza.JPG"></a>
</div>

<div class="star">
<h3><a href="/summer/いて座">いて座</a></h3>
<a href="#iteza" rel="modal:open"><img src="/iteza.JPEG"></a>
</div>

<div class="star">
<h3><a href="/summer/ヘルクレス座">ヘルクレス座</a></h3>
<a href="#herakuresuza" rel="modal:open"><img src="/herakuresuza.JPG"></a>
</div>

<div class="star">
<h3><a href="/summer/みなみのかんむり座">みなみのかんむり座</a></h3>
<a href="#minaminokanmuriza" rel="modal:open"><img src="/minaminokanmuriza.JPG"></a>
</div>

<div class="star">
<h3><a href="/summer/へび座">へび座</a></h3>
<a href="#hebiza" rel="modal:open"><img src="/hebiza.JPEG"></a>
</div>

<div class="star">
<h3><a href="/summer/へびつかい座">へび使い座</a></h3>
<a href="#hebitukaiza" rel="modal:open"><img src="/hebitukaiza.JPEG"></a>
</div>

<div class="star">
<h3><a href="/summer/海豚座">海豚座</a></h3>
<a href="#irukaza" rel="modal:open"><img src="/irukaza.JPEG"></a>
</div>

<div class="star">
<h3><a href="/summer/子狐座">子狐座</a></h3>
<a href="#kogitsuneza" rel="modal:open"><img src="/kogitsuneza.JPEG"></a>
</div>

<div class="star">
<h3><a href="/summer/天秤座">天秤座</a></h3>
<a href="#tennbinnza" rel="modal:open"><img src="/tennbinnza.JPEG"></a>
</div>

<div class="star">
<h3><a href="/summer/盾座">盾座</a></h3>
<a href="#tateza" rel="modal:open"><img src="/tateza.JPEG"></a>
</div>

<div class="star">
<h3><a href="/summer/矢座">矢座</a></h3>
<a href="#yaza" rel="modal:open"><img src="/yaza.JPEG"></a>
</div>

<div class="star">
<h3><a href="/summer/竜座">竜座</a></h3>
<a href="#ryuuza" rel="modal:open"><img src="/ryuuza.JPG"></a>
</div>

</div>




<div id="kotoza" class="modal">
  <img src="/kotoza.JPEG">
  <a href="#" rel="modal:close"></a>
</div>

<div id="wasiza" class="modal">
  <img src="/wasiza.JPEG">
  <a href="#" rel="modal:close"></a>
</div>

<div id="hakuchouza" class="modal">
  <img src="/hakuchouza.JPEG">
  <a href="#" rel="modal:close"></a>
</div>

<div id="sasoriza" class="modal">
  <img src="/sasoriza.JPG">
  <a href="#" rel="modal:close"></a>
</div>

<div id="iteza" class="modal">
  <img src="/iteza.JPEG">
  <a href="#" rel="modal:close"></a>
</div>

<div id="herakuresuza" class="modal">
  <img src="/herakuresuza.JPG">
  <a href="#" rel="modal:close"></a>
</div>

<div id="kanmuriza" class="modal">
  <img src="/kanmuriza.JPEG">
  <a href="#" rel="modal:close"></a>
</div>

<div id="hebiza" class="modal">
  <img src="/hebiza.JPEG">
  <a href="#" rel="modal:close"></a>
</div>

<div id="hebitukaiza" class="modal">
  <img src="/hebitukaiza.JPEG">
  <a href="#" rel="modal:close"></a>
</div>

<div id="irukaza" class="modal">
  <img src="/irukaza.JPEG">
  <a href="#" rel="modal:close"></a>
</div>

<div id="kogitsuneza" class="modal">
  <img src="/kogitsuneza.JPEG">
  <a href="#" rel="modal:close"></a>
</div>

<div id="tennbinnza" class="modal">
  <img src="/tennbinnza.JPEG">
  <a href="#" rel="modal:close"></a>
</div>

<div id="tateza" class="modal">
  <img src="/tateza.JPEG">
  <a href="#" rel="modal:close"></a>
</div>

<div id="yaza" class="modal">
  <img src="/yaza.JPEG">
  <a href="#" rel="modal:close"></a>
</div>

<div id="minaminokanmuriza" class="modal">
  <img src="/minaminokanmuriza.JPG">
  <a href="#" rel="modal:close"></a>
</div>

<div id="ryuuza" class="modal">
  <img src="/ryuuza.JPG">
  <a href="#" rel="modal:close"></a>
</div>


</body>