<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>星をむすんで。</title>

	<link rel="stylesheet" href="../css/style.css">

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />



</head>
<body>

<nav>
<a href="/" class="button_top">星をむすんで。</a>
</nav>

<h2>＊冬の星座＊ <br>
名称クリックで詳細を表示・画像クリックで拡大</h2>

<a href="/index" class="home">←</a>

<div class= "stars">

<div class="star">
<h3><a href="/winter/おおいぬ座">おおいぬ座</a></h3>
<a href="#ooinuza" rel="modal:open"><img src="/ooinu.jpg"></a>
</div>


<div class="star">
<h3><a href="/winter/こいぬ座">こいぬ座</a></h3>
<a href="#koinuza" rel="modal:open"><img src="/koinu.jpg"></a>
</div> 

<div class="star">
<h3><a href="/winter/オリオン座">オリオン座</a></h3>
<a href="#orionza" rel="modal:open"> <img src="/orion.jpg"></a>
</div> 

 
 
<div class="star">
<h3><a href="/winter/おうし座">おうし座</a></h3>
<a href="#oushiza" rel="modal:open"><img src="/oushi.jpg"></a>
</div> 

<div class="star">
<h3><a href="/winter/ふたご座">ふたご座</a></h3>
<a href="#hutago" rel="modal:open"><img src="/hutago.jpg"></a>
</div> 

<div class="star">
<h3><a href="/winter/いっかくじゅう座">いっかくじゅう座</a></h3>
<a href="#iltukakujuu" rel="modal:open"><img src="/iltukakujuu.jpg"></a>
</div> 

<div class="star">
<h3><a href="/winter/うさぎ座">うさぎ座</a></h3>
<a href="#usagi" rel="modal:open"><img src="/usagi.jpg"></a>
</div> 

<div class="star">
<h3><a href="/winter/エリダヌス座">エリダヌス座</a></h3>
<a href="#eridanusu" rel="modal:open"><img src="/eridanusu.jpg"></a>
</div> 

<div class="star">
<h3><a href="/winter/はと座">はと座</a></h3>
<a href="#hato" rel="modal:open"><img src="/hato.jpg"></a>
</div> 

<div class="star">
<h3><a href="/winter/ぎょしゃ座">ぎょしゃ座</a></h3>
<a href="#gyosha" rel="modal:open"><img src="/gyosha.jpg"></a>
</div> 

<div class="star">
<h3><a href="/winter/炉座">炉座</a></h3>
<a href="#ro" rel="modal:open"><img src="/ro.jpg"></a>
</div> 

<div class="star">
<h3><a href="/winter/彫刻具座">彫刻具座</a></h3>
<a href="#choukokugu" rel="modal:open"><img src="/choukokugu.jpg"></a>
</div> 

<div class="star">
<h3><a href="/winter/やまねこ座">やまねこ座</a></h3>
<a href="#yamaneko" rel="modal:open"><img src="/yamaneko.jpg"></a>
</div> 

</div>






<div id="ooinuza" class="modal">
  <img src="/ooinu.jpg">
  <a href="#" rel="modal:close"></a>
</div>


<div id="koinuza" class="modal">
  <img src="/koinu.jpg">
  <a href="#" rel="modal:close"></a>
</div>


<div id="orionza" class="modal">
  <img src="/orion.jpg">
  <a href="#" rel="modal:close"></a>
</div>


<div id="oushiza" class="modal">
  <img src="/oushi.jpg">
  <a href="#" rel="modal:close"></a>
</div>

<div id="hutago" class="modal">
  <img src="/hutago.jpg">
  <a href="#" rel="modal:close"></a>
</div>

<div id="iltukakujuu" class="modal">
  <img src="/iltukakujuu.jpg">
  <a href="#" rel="modal:close"></a>
</div>

<div id="usagi" class="modal">
  <img src="/usagi.jpg">
  <a href="#" rel="modal:close"></a>
</div>

<div id="eridanusu" class="modal">
  <img src="/eridanusu.jpg">
  <a href="#" rel="modal:close"></a>
</div>

<div id="hato" class="modal">
  <img src="/hato.jpg">
  <a href="#" rel="modal:close"></a>
</div>

<div id="gyosha" class="modal">
  <img src="/gyosha.jpg">
  <a href="#" rel="modal:close"></a>
</div>

<div id="gyosha" class="modal">
  <img src="/gyosha.jpg">
  <a href="#" rel="modal:close"></a>
</div>

<div id="ro" class="modal">
  <img src="/ro.jpg">
  <a href="#" rel="modal:close"></a>
</div>

<div id="choukokugu" class="modal">
  <img src="/choukokugu.jpg">
  <a href="#" rel="modal:close"></a>
</div>

<div id="yamaneko" class="modal">
  <img src="/yamaneko.jpg">
  <a href="#" rel="modal:close"></a>
</div>
</body>